.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

div#top-row{
  width: 880px;
  height: 400px;
}

div#tools {
  width: 78px;
  border: 1px solid #000;
  border-right: none;
  
}

div#drawsection {
  border: 1px solid black;
  width: 578px;
  height: 400px;
}

div#transcript{
  width: 208px;
  height: 400px;
  border: 1px solid #000;
  border-left: none;
}


div#tools, div#drawsection, div#transcript {
  float:left;
}

div#bottom-row{
  margin-left: 79px;
  margin-top: 1px;
  border: 1px solid #000;
  border-top: none;
  height: 50px;
  width: 578px;
}

button#play_pause{
  display:inline-block;
}

.is_recording{
  background: red;
}

.is_playing {
  background: blue;
}


#canvas-container {
  /*overflow: scroll;*/
}

#canvas {
  height: 100%; width: 100%;
  outline: 1px solid black;
}


#shape_menu, #saveas_menu {
  display: none;
  position: absolute;
  border: 1px solid;
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  padding: 5px;
}

#zoom_element {
  z-index: 100;
  display: none;
  position: absolute;
  top: 25%;
  right: 0;
  width: 50px;
  height: 50%;
  border: 1px solid #cccccc;
}

#zoom_element #zoom_amount {
  position: absolute;
  margin-top: -21px;
  height: 20px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

#zoom_element #zoom_section {
  position: absolute;
  background-color: #ffffff;
  width: 50px;
  height: 100%;
}

#zoom_element #zoom_section #zoom_bar {
  position: absolute;
  margin-left: 20px;
  width: 10px;
  height: 100%;
  background-color: #cccccc;
}

#zoom_element #zoom_section #zoom_slider {
  z-index: 105;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 50px;
  height: 20px;
  background-color: #000000;
  cursor: move;
}

#recorder {
}


/* Cursors */
.pencil_active {cursor: url("img/square_5x5.png"), auto;}
.eraser_active {cursor: url("img/square_10x10.png"), auto;}

/* Slider */
.ui-slider-handle {
  outline: none;
}

/* Tool panel
-------------------------------*/

/* color picker*/
#color_selector {
  width: 33px;
  height: 33px;
  background: url("img/select2.png");
  background-color: #000;
}

