canvas {
  width: 600px;
  height: 100%;
  border: 1px dotted red;

}

div.xboard{
  border: 1px solid #000;
  height: 402px;
  /*for size*/
  display:inline-block;
  padding: 5px;
}

div.transcript{
  border: 1px dotted blue;
  width: 220px;
  height: 100%;
  margin-right: 10px;
  padding: 5px;
  box-sizing: border-box;
}

div.transcript, canvas.drawing-area{
  float: left;
}


